.header {
  height: 95px;
  display: flex;
  align-items: center;

  &-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-logo {
    svg {
      width: 146px;
      height: 31px;
    }
  }
  &-nav {
    display: flex;
    align-items: center;
    z-index: 15;
    &__list {
      display: flex;
      gap: 40px;
    }
    &__item:last-child {
      display: none;
    }

    &__link {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--chernyy);
    }
    .header-contact__lang {
      display: none;
    }
  }
  &-contact {
    display: flex;
    align-items: center;
    gap: 40px;
    &__phone {
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.01em;
      color: var(--chernyy);
    }
    &__btn {
      color: var(--belyy);
      background: var(--sero-goluboy);
    }

    &__lang {
      display: flex;
      align-items: center;
      justify-content: center;
      &--btn {
        padding: 8px 7px;
        border-radius: 3px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 12px;
        color: var(--sero-goluboy);
        cursor: pointer;
      }
    }
  }
  .burger {
    @include burger;
    color: var(--accent-color);
    display: none;
  }
}
@include tablet {
  .header {
    height: 95px;
    display: flex;
    align-items: center;

    &-nav {
      display: none;
      position: absolute;
      top: 95px;
      right: 0;
      width: 0%;
      height: calc(100vh - 95px);
      justify-content: center;
      background: var(--belyy);
      text-align: center;
      flex-direction: column;
      gap: 40px;

      &__item {
        &:last-child {
          a {
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
      &__list {
        flex-direction: column;
        gap: 40px;
      }
      &__item:last-child {
        display: block;
      }

      .header-contact__lang {
        display: flex;
      }

      &__link {
        font-size: 18px;
      }
    }
    &-contact {
      gap: 15px;

      &__lang {
        display: none;
      }
      &__btn {
        background: var(--belyy);
        color: var(--sero-goluboy);
        border: 1.5px solid var(--sero-goluboy);
        border-radius: 4px;
      }
    }
    &-close {
      display: block;
    }
    .burger {
      display: block;
    }
  }
}
.menu--active {
  display: flex;
  width: 50%;
}
@include mobile {
  .header {
    height: 45px;
    padding-top: 15px;
    &-logo {
      svg {
        width: 91px;
        height: 18px;
      }
    }
    &-nav {
      width: 100%;
      height: calc(100vh - 45px);

      &__link {
        font-size: 16px;
      }
    }
    &-contact {
      &__btn {
        font-size: 12px;
      }
      &__phone {
        display: none;
      }
    }
  }
}
