.hero {
  background: linear-gradient(
    0deg,
    rgba(212, 227, 236, 0.3) 0%,
    rgba(247, 249, 251, 0.3) 100%
  );
  &-container {
    padding: 60px 80px;
    position: relative;
  }
  &-slider {
    overflow: hidden;
    &__wrapper {
    }
    &__item {
      padding: 80px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      &-box:last-child {
        margin-top: auto;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      &-title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 50px;
        line-height: 130%;
        color: var(--chernyy);
      }
      &-text {
        max-width: 340px;
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 20px;
        line-height: 130%;
        color: var(--chernyy);
      }
      &-link {
        width: 140px;
        color: var(--belyy);
        border-radius: 5px;
        background: var(--sero-goluboy);
      }
      &-img {
        margin-left: 47px;
        max-width: 560px;
        img {
          object-fit: cover;
        }
      }
      &-desc {
        font-family: var(--font-family);
        font-weight: 300;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: var(--chernyy);
      }
      &-model {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.01em;
        color: var(--chernyy);
      }
      &-link-more {
        margin-top: 10px;
        border: 2px solid var(--sero-goluboy);
        border-radius: 5px;
        width: 140px;
        padding: 13px 25px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        color: var(--sero-goluboy);
      }
    }
    &__pagination {
      top: auto !important;
      bottom: 15px !important;
      left: 80px !important;
      width: 90% !important;
    }
  }
}
.swiper-pagination-progressbar {
  background: var(--belyy);
}
.swiper-pagination-progressbar-fill {
  border-radius: 50px !important;
}

@include small-tablet {
  .hero {
    &-container {
      padding: 60px 40px;
    }
    &-slider {
      &__item {
        flex-direction: column;
        gap: 50px;
        &-box {
          align-self: flex-start;
        }
        &-box:last-child {
          margin: 0;
          align-self: flex-end;
          max-width: 274px;
        }
      }
      &__pagination {
        left: 40px !important;
      }
    }
  }
}
@include mobile {
  .hero {
    &-container {
      padding: 60px 20px;
    }
    &-slider {
      &__item {
        padding: 0;
        flex-direction: column;
        gap: 50px;
        &-box {
          gap: 15px;
        }
        &-box:last-child {
          max-width: 170px;
        }
        &-title {
          font-size: 40px;
        }
        &-text {
          max-width: 300px;
          font-size: 16px;
        }
        &-link {
          width: 100px;
        }
        &-img {
          margin: 0 auto;
          max-width: 560px;
          img {
            max-width: 280px;
            object-fit: cover;
          }
        }
        &-desc {
          font-size: 16px;
        }
        &-model {
          font-size: 16px;
        }
        &-link-more {
          width: 110px;
          padding: 8px 19px;
          font-size: 12px;
        }
      }
      &__pagination {
        left: 20px !important;
      }
    }
  }
}
