<div class="hero">
  <div class="hero-container container">
    <div class="hero-slider slider">
      <div class="hero-slider__wrapper swiper-wrapper">
        <div class="hero-slider__item swiper-slide">
          <div class="hero-slider__item-box">
            <h1 class="hero-slider__item-title text">Meltem</h1>
            <p class="hero-slider__item-text text">
              Meltem – це гарантовано якісне вентиляційне обладнання від
              німецького заводу.
            </p>
            <a href="" class="hero-slider__item-link btn">Продукція</a>
          </div>
          <div class="hero-slider__item-img">
            <img
              src="img/hero-img.png"
              alt="Відцентровий витяжний вентилятор Meltem V-II 30-N"
            />
          </div>
          <div class="hero-slider__item-box">
            <p class="hero-slider__item-desc text">
              Відцентровий витяжний вентилятор
            </p>
            <p class="hero-slider__item-model text">Meltem V-II 30-N</p>
            <a href="" class="hero-slider__item-link-more">Детальніше</a>
          </div>
        </div>
        <div class="hero-slider__item swiper-slide">
          <div class="hero-slider__item-box">
            <h1 class="hero-slider__item-title text">Meltem</h1>
            <p class="hero-slider__item-text text">
              Meltem – це гарантовано якісне вентиляційне обладнання від
              німецького заводу.
            </p>
            <a href="" class="hero-slider__item-link btn">Продукція</a>
          </div>
          <div class="hero-slider__item-img">
            <img
              src="img/hero-img.png"
              alt="Відцентровий витяжний вентилятор Meltem V-II 30-N"
            />
          </div>
          <div class="hero-slider__item-box">
            <p class="hero-slider__item-desc text">
              Відцентровий витяжний вентилятор
            </p>
            <p class="hero-slider__item-model text">Meltem V-II 30-N</p>
            <a href="" class="hero-slider__item-link-more">Детальніше</a>
          </div>
        </div>
        <div class="hero-slider__item swiper-slide">
          <div class="hero-slider__item-box">
            <h1 class="hero-slider__item-title text">Meltem</h1>
            <p class="hero-slider__item-text text">
              Meltem – це гарантовано якісне вентиляційне обладнання від
              німецького заводу.
            </p>
            <a href="" class="hero-slider__item-link btn">Продукція</a>
          </div>
          <div class="hero-slider__item-img">
            <img
              src="img/hero-img.png"
              alt="Відцентровий витяжний вентилятор Meltem V-II 30-N"
            />
          </div>
          <div class="hero-slider__item-box">
            <p class="hero-slider__item-desc text">
              Відцентровий витяжний вентилятор
            </p>
            <p class="hero-slider__item-model text">Meltem V-II 30-N</p>
            <a href="" class="hero-slider__item-link-more">Детальніше</a>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-slider__pagination swiper-pagination"></div>
  </div>
</div>
