:root {
  // base

  --font-family: 'Roboto', sans-serif;
  --content-width: 1300px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --sero-goluboy: #859ba6;
  --belyy: #fff;
  --chernyy: #333;
  --sero-goluboy-2: #f6f8fa;

  --swiper-pagination-color: #859ba6;
}
